fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
pytest
httpx
httpx2
python-dotenv
langchain
langchain-groq
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
pypdf
scikit-learn